.tours .container .box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 3rem;
}

.tours .container .box img {
    height: 500px;
    width: 500px;
    object-fit: cover;
}