<section class="about">
    <div class="container">
        <img src="../../../assets/img/2.jpg" alt="">
        <div class="text">
            <h1 class="heading">About <span class="heading-mark">Us</span></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, optio deleniti. Similique labore est minus aliquam, earum cupiditate? Similique tempore beatae error eum adipisci asperiores fuga. Exercitationem temporibus dicta quasi veritatis
                ipsa autem natus similique corporis repellendus quidem, quod assumenda ex ad eos maiores alias, ratione necessitatibus explicabo culpa laborum.</p>
        </div>
    </div>
</section>