<section class="gallery">
    <h1 class="heading">Our <span class="heading-mark">Gallery</span></h1>
    <div class="items">
        <img src="../../../assets/img/1.jpg " alt="">
        <img src="../../../assets/img/2.jpg" alt="">
        <img src="../../../assets/img/3.jpg" alt="">
        <img src="../../../assets/img/5.jpg" alt="">
        <img src="../../../assets/img/6.jpg" alt="">
        <img src="../../../assets/img/7.jpg" alt="">
        <img src="../../../assets/img/8.jpg" alt="">
        <img src="../../../assets/img/10.jpg" alt="">
        <img src="../../../assets/img/12.jpg" alt="">
        <img src="../../../assets/img/13.jpg" alt="">
        <img src="../../../assets/img/14.jpg" alt="">
        <img src="../../../assets/img/15.jpg" alt="">
        <img src="../../../assets/img/16.jpg" alt="">
        <img src="../../../assets/img/17.jpg" alt="">
        <img src="../../../assets/img/18.jpg" alt="">
        <img src="../../../assets/img/19.jpg" alt="">

    </div>
</section>