<footer class="footer">
    <div class="row1">
        <div class="col1">
            <img src="" alt="">
        </div>
        <div class="col2">
            <h1 class="footer-heading">Our <span class="heading-mark"> Branches </span></h1>
            <ul>
                <li><i class="fa-solid fa-location-dot"></i>Turkey</li>
                <li><i class="fa-solid fa-location-dot"></i>USA</li>
                <li><i class="fa-solid fa-location-dot"></i>France</li>
                <li><i class="fa-solid fa-location-dot"></i>Russia</li>
                <li><i class="fa-solid fa-location-dot"></i>Germany</li>
            </ul>
        </div>
        <div class="col3">
            <h1 class="footer-heading">Contact <span class="heading-mark"> Us </span></h1>
            <ul>
                <li><i class="fa-solid fa-phone"></i>+123 456 78 90</li>
                <li><i class="fa-solid fa-phone"></i>+111 222 33 44</li>
                <li><i class="fa-solid fa-envelope"></i>mehmetburakbaloglu@gmail.com</li>
                <li><i class="fa-solid fa-location-dot"></i>Bozuyuk, Bilecik, Turkey</li>
            </ul>
        </div>
        <div class="col4">
            <h1 class="footer-heading">Quick <span class="heading-mark">Links </span> </h1>
            <ul>
                <li><i class="fa-solid fa-arrow-right"></i><a routerLink="">Home</a></li>
                <li><i class="fa-solid fa-arrow-right"></i><a routerLink="about">About</a></li>
                <li><i class="fa-solid fa-arrow-right"></i><a routerLink="menu">Menu</a></li>
                <li><i class="fa-solid fa-arrow-right"></i><a routerLink="products">Products</a></li>
                <li><i class="fa-solid fa-arrow-right"></i><a routerLink="team">Team</a></li>
                <li><i class="fa-solid fa-arrow-right"></i><a routerLink="gallery">Gallery</a></li>
                <li><i class="fa-solid fa-arrow-right"></i><a routerLink="blog">Blog</a></li>
                <li><i class="fa-solid fa-arrow-right"></i><a routerLink="review">Review</a></li>
                <li><i class="fa-solid fa-arrow-right"></i><a routerLink="store">Store</a></li>
                <li><i class="fa-solid fa-arrow-right"></i><a routerLink="contact">Contact</a></li>
            </ul>
        </div>
    </div>
    <div class="row2">
        <div class="social-media-accounts">
            <ul>
                <li><i class="fa-brands fa-whatsapp"></i></li>
                <li><i class="fa-brands fa-linkedin"></i></li>
                <li><i class="fa-brands fa-github"></i></li>
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-instagram"></i></li>
                <li><i class="fa-brands fa-twitter"></i></li>
                <li><i class="fa-brands fa-pinterest"></i></li>
            </ul>
        </div>
    </div>
</footer>